.bubbles {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    fill: var(--blue-main)
}

.bubble {
    fill: var(--blue-main);
}


@keyframes straightLine {
    50% {
      transform: translate3D(100px, -100px, 0);
    }
  }